.App {
  text-align: center;
}

.nav {
  list-style: none;
  text-align: center;
}

li {
  display: inline;
  margin: 0 30px;
}

form {
  text-align: center;
}

input {
  margin: 5px 0;
}

button, input[type="submit"] {
  border: 2px solid indigo;
}

.welcome {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}